/* css styles */




h2{
  color: #198cab;
  font-size:19px;
  margin-bottom: 0px;
}

h3{
  text-transform: uppercase;
  font-size:14px;
  color: #a1a1a1;
  margin-bottom: 2px;
}



#contrib {
margin-top:-50px;
font-size:14px;
margin-bottom: 30px;
}

#block {
font-size:14px;
}

#url {
font-size:14px;
}

